/*
 * Main Themes
 * by Me x Bootflat x Bootstrap
 * http://www.qbhcode.org/
 */
html,body{
  background-color: #F5F7FA;
  height: 100%;
}
.text-center{
  text-align: center;
}

/* Login Form */
.login-form{
  margin: 100px auto;
  padding: 20px 50px;
  width: 450px;
}
@media (max-width: 768px){
  .login-form{
    width: 100%;
  }
}

/* Error class */
.error-message{
  margin-top: 15px;
  padding-left: 15px;
  font-size: 15px;
}
.error-message-warning{
  border-left: 3px solid #F6BB42;
}
.error-message-danger{
  border-left: 3px solid #E9573F;
}
.error-message-success{
  border-left: 3px solid #8CC152;
}
.error-button{
  margin-top: 20px;
}
.error-box{
  margin-top:35px;
}
.error-title{
  margin-top: 0px;
}
.error-icon{
  font-size: 94px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.huge{
  font-size: 32px;
  line-height: normal;
}

/* font color */
.fc-danger{
  color: #DA4453;
}
.fc-danger-light{
  color: #ED5565;
}
.fc-primary{
  color: #3BAFDA;
}
.fc-primary-light{
  color: #4FC1E9;
}
.fc-warning{
  color: #F6BB42;
}
.fc-warning-light{
  color: #FFCE54;
}
.fc-success{
  color: #8CC152;
}
.fc-success-light{
  color: #A0D468;
}
.fc-info{
  color: #37BC9B;
}
.fc-info-light{
  color: #48CFAD;
}

/* skin color */


/* sidebar */
.main-sidebar{
  position: absolute;;
  width:250px;
  padding-top: 100px;
  margin-left: 10px;
  min-height: 100%;
}

/* main content */
.main-content{
  margin-left: 260px;
  padding-top: 10px;
  min-height: 100%;
}
.content-header{
  margin: 0 20px;
}
.content-box{
  margin: 0 20px 20px;
  border-radius: 5px;
  min-height: 500px;
  padding: 30px;
}

/* Tabel Data */
.colNo{
  width: 5%;
  text-align: center;
}
.colFor{
  width: 25%;
}
.colDate{
  width: 25%;
}
.colValue{
  width: 25%;
}
.colAct{
  width: 20%;
}

/* Keterangan */
.status-jumlah{
  font-weight: 600;
  margin-bottom: 0;
  text-align: center;
}
